<div>
  <h1>You can add new comment!</h1>
</div>
<div ng-show="error" class="alert alert-danger">{{error.data.message}}</div>
<form name="form" ng-submit="addComment()">
  <div class="form-group">
    <label>Comment</label>
    <textarea class="form-control" ng-model="comment.text" placeholder="Enter a comment for the publish publication"
              required/>
    <span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">Comment is required</span>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Add comment</button>
  </div>
</form>
