<div>
  <h3>Welcome!</h3>
</div>
<div>
  <p><a ui-sref="proposals">List Proposals</a></p>
  <p><a ui-sref="proposalSubmissions">List Proposal Submissions</a></p>
  <p><a ui-sref="publishproposal">List Proposal Publications</a></p>
  <p><a ui-sref="comments">List Comments</a></p>
  <p><a ui-sref="studentOffers">List Student Offers</a></p>
  <p><a ui-sref="studentsAssignments">List Students Assignments</a></p>
  <p><a ui-sref="assignStudent">Assign Student to Proposal</a></p>
  <p><a ui-sref="registerproposal">List Register Proposals</a></p>
</div>
