<div>
  <h3>Proposal Publications</h3>
</div>
<div ng-show="error" class="alert alert-danger">{{error.data.message}}</div>
<div class="row" ng-repeat="publication in publish.publishProposals">
  <div class="col-lg-12">
    <div ng-repeat="role in publication.agent.authorities">
      <h4> Proposal published by
        <span ng-if="role.authority == 'ROLE_COORDINATOR'"> Cordinator</span>
        <span ng-if="role.authority == 'ROLE_PROFESSOR'"> Professor</span>
        <span ng-if="role.authority == 'ROLE_STUDENT'"> Student</span>
      </h4>
    </div>
    <h4>Title: {{publication.proposal.title}}</h4>
    <h4>Degree: {{publication.proposal.degree}}</h4>
    <h4>Email: {{publication.agent.email}}</h4>
    <h4>Date Time Published: {{publication.dateTime}}</h4>
    <button ui-sref="proposalPublication({id: publication._links.self.href.split('/').pop()})">See {{publication.commentedBy._embeddedItems.length}} comments</button>
    <button ui-sref="createComment({id: publication._links.self.href.split('/').pop()})">Add comment</button>
    <button ng-if="isUserInRole('ROLE_STUDENT')"
            ng-click="addStudentOffer(publication);" class="btn btn-success pull-right">Offer as Student</button>
    <button ui-sref="editProposal({id: publication.publishes._links.self.href.split('/').pop()})">Edit proposal</button>
    <span ng-if="isUserInRole('ROLE_COORDINATOR')">
      <button ui-sref="registerproposal({id: publication._links.self.href.split('/').pop()})">Register proposal</button>
    </span>
  </div>
</div>
